<div class="container">
  @if (hideLoader()) {
    <div class="row justify-content-center mt-5 py-5 alert alert-info">
      <div class="col-12">
        <p class="text-center text-success">
          {{ standardProposition }}
        </p>
      </div>
      <div class="col-11 col-sm-8 col-md-5 col-lg-4 col-xl-3">
        <button
          type="button"
          class="btn btn-outline-success btn-lg w-100"
          (click)="downloadDefaultList()"
        >
          Download default list
        </button>
      </div>
    </div>
  } @else {
    <app-loader />
  }
</div>
