.book {
  max-width: 1.6rem;
  vertical-align: baseline;
}
.current-year {
  cursor: default;
}

@media screen and (max-width: 991px) and (orientation: landscape) {
  :host {
    display: none;
  }
}
