.page-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  .book {
    max-width: 1.6rem;
    vertical-align: baseline;
  }

  .current-year {
    cursor: default;
  }
}

@media screen and (max-width: 991px) and (orientation: landscape) {
  :host {
    display: none;
  }
}
