@let menu = (isUserAuthenticated | async) ? authenticatedUserMenu : defaultMenu;
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    &#9776;
  </button>
  <div
    [ngbCollapse]="isMenuCollapsed"
    class="collapse navbar-collapse justify-content-end"
  >
    <ul class="navbar-nav">
      @for (item of menu; track $index) {
        <li
          class="nav-item"
          [routerLinkActive]="hasChildren(item) ? '' : 'active'"
          ngbDropdown
        >
          @if (hasChildren(item)) {
            <a class="nav-link" [id]="[getMenuItemName(item)]" ngbDropdownToggle
              >{{ getMenuItemName(item) }}
              <div
                ngbDropdownMenu
                aria-labelledby="[getMenuItemName(item)]"
                class="dropdown-menu"
              >
                @for (child of item; track $index) {
                  <a
                    ngbDropdownItem
                    [routerLink]="[child]"
                    (click)="isMenuCollapsed = true"
                  >
                    {{ getMenuItemName(child) }}
                  </a>
                }
              </div>
            </a>
          } @else {
            <a class="nav-link" [routerLink]="[item]">{{
              getMenuItemName(item)
            }}</a>
          }
        </li>
      }
      @if (isUserAuthenticated | async) {
        <li class="nav-item">
          <button class="btn" (click)="logout()">Logout</button>
        </li>
      }
    </ul>
  </div>
</nav>
