@import "main.less";

.navbar-nav {
  .nav-item {
    margin: -8px 1px;
    padding-top: 8px;
    padding-bottom: 8px;

    &.exit {
      padding-right: 3rem;
    }

    &:nth-last-of-type(1) {
      .nav-link.dropdown-toggle {
        & + .dropdown-menu.show {
          right: 0;
          left: initial;
        }
      }
    }
    .dropdown-menu.show {
      min-width: 0;
    }

    &.active {
      background-color: @activeMenuBackground;
      margin: -8px 0;
      padding-top: 8px;
      padding-bottom: 8px;

      & > .nav-link {
        &:hover {
          color: @activeMenuColor;
        }
      }

      &:hover {
        background-color: @activeMenuBackground;
        margin: -8px 0;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 0;

        & > .nav-link {
          color: @activeMenuColor;
        }
      }
    }

    &:hover {
      background-color: @white;
      margin: -9px 0;
      padding-top: 8px;
      border: 1px solid @activeMenuBorder;
      transition: background 0.8s;

      & > .nav-link,
      .logout-btn {
        color: @primary;
        transition-duration: 0.3s;
      }
    }

    .nav-link,
    .logout-btn {
      color: @white;

      &:hover {
        cursor: pointer;
      }
    }
    .logout-btn {
      border: none;
      background-color: transparent;
      padding: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar.navbar-expand-lg.navbar-light.bg-primary {
    background-color: transparent !important;
    position: fixed;
    left: 1%;
    top: 0;
    opacity: 0.98;
    z-index: 1060;

    .navbar-toggler {
      background-color: @white;

      &:focus {
        outline: none;
      }
    }

    .navbar-nav {
      margin-top: 0.25rem;
      .nav-item {
        margin: 0;
        padding: 0;
        background-color: @adaptiveMenuBackground;

        &.active {
          background-color: @adaptiveMenuColor;

          .nav-link {
            color: @adaptiveMenuBackground;
          }

          &:hover {
            .nav-link {
              color: @white;
            }
          }
        }

        &:first-of-type {
          border-radius: 0 5px 0 0;
        }

        &:last-of-type {
          border-radius: 0 0 5px 5px;
          padding-bottom: 10px;
          margin-top: -4px;
          &:hover {
            padding-bottom: 10px;
            margin-top: -4px;
          }
        }

        &:hover {
          background-color: @adaptiveMenuColor;
          margin: 0;
          padding-top: 0;
          padding-bottom: 0;
          border: 0;
          transition: background 0.8s;

          & > .nav-link,
          .logout-btn {
            color: @primary;
            transition-duration: 0.3s;
          }
        }

        .nav-link,
        .logout-btn {
          color: @adaptiveMenuColor;
          font-weight: bolder;
          padding-left: 0.8rem;
          &:hover {
            color: @adaptiveMenuBackground;
          }
        }

        .logout-btn {
          padding-left: 0.6rem;
          padding-right: 77%;
        }

        &.dropdown {
          .dropdown-item {
            color: @adaptiveMenuNestedItemColor;
            font-weight: 600;
            &:hover {
              color: @white;
              background-color: @adaptiveMenuNestedItemColor;
              transition-duration: 0.3s;
            }
          }
          .dropdown-menu {
            max-height: 124px;
            overflow-y: scroll;
          }
        }
      }
    }
  }
}
