.control-panel {
  .input-group-append {
    .btn {
      border-radius: 0 6px 6px 0;
    }
  }

  .form-control {
    &:focus {
      box-shadow: none;
    }
  }

  @media screen and (max-width: 334px) {
    .btn {
      font-size: 0.84rem;
    }
    .label-for-select.w-100 {
      font-size: 0.94rem;
    }
  }
}
