<div class="modal-header bg-secondary">
  <h4 class="modal-title">Confirmation</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross clicked')"
  ></button>
</div>
<div class="modal-body">
  <p>{{ text }} {{ word }}</p>
</div>
<div class="modal-footer d-flex justify-content-between bg-secondary">
  <button type="button" class="btn btn-dark" (click)="confirmDelete()">
    Yes
  </button>
  <button type="button" class="btn btn-light" (click)="cancelDelete()">
    No, cancel
  </button>
</div>
