@white: #fff;
@activeMenuColor: #faa632/* #050549 */ ;
@activeMenuBackground: #0250dd;
@activeMenuBackground: #0250dd;
@activeMenuBorder: #dee2e6;
@adaptiveMenuColor: #000080;
@adaptiveMenuBackground: #999595;
@adaptiveMenuNestedItemColor: #212529;
@tableHoverBackground: #00000013;
@formLoginTitle: #696969cc;
@primary: #0d6efd;
@primary: #0d6efd;
@secondary: #6c757d;
@danger: #dc3545;
@success: #198754;
@info: #17a2b8;
@infoBright: #0dcaf0;
@warning: #ffc107;
@light: #f8f9fa;
@dark: #343a40;
